body {
	padding-top: 70px;
}

.container {

	max-width: 1000px;
}

#heading {

	background-color: #505050;
	height: 300px;
	position: relative;
	margin-top: 20px;

}

.schoolName {

	color: white;
	font-size: 75px;
}

/*.dropdown {

	position: relative;
}*/

.input-group {
	width: 500px;
}

img {
	width: 225px;
	height: 225px;
	float: right;
	padding-bottom: 10px;
	position: absolute;
	bottom: 20px;
	right: 15px;
}

iframe {

	float: right;
}

.studentBox {

	border: 2px solid black;
	height: 300px;
	width: 500px;
	margin-left: 25px;
	margin-top: 25px;
	list-style: none;
	padding-left: 10px;
	height: auto;
	display: inline-block;
	
}

.form-group {

	width: 400px;

}

#first-name {

	margin-top: 30px;
}

#last-name {


}

 








